.page-about {
    min-height: 100vh;
    margin-top: 5rem;
    display: flex;
}

.about-left{
  display: inline-flex;
  width: 50%;
}

.about-right{
  display: inline-flex;
  width: 50%;
}

.about-left-content{
    width: 100%;
    background-color: #E0E0E0;
    margin-top: 175px;
    margin-bottom: 170px;
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.about-left-content p{
  padding-top: 20px;
  color:#606060;
  padding-bottom: 15px;
  line-height: 1.6;
}

.about-left-content h3{
  padding-top: 20px;
  color:#404040;
}

.about-right-content p{
  color:#606060;
  padding-bottom: 15px;
}

.about-right-content h3{
  color:#404040;
}

.about-right-content h1{
  color:	#181818;
  padding-bottom: 30px;
}

.about-right-content{
  width: 100%;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 40px;
  padding-right: 45px;
  padding-bottom: 30px;
  padding-left: 45px;
}
